<ion-view view-title="Account">
  <ion-header-bar>
    <div class="buttons">
    </div>
  </ion-header-bar>
  <ion-content class="accountLoginButton">
    
      <button class="button button-block button-positive" ng-click="login()" ng-show="!isAuthenticated()">
                        Login
                    </button>
      <button class="button button-block button-positive" ng-click="logout()" ng-show="isAuthenticated()">
                        Logout
                    </button>
      
       
      
  </ion-content>
</ion-view>
